/*Tudo*/
* {
    margin: 0;
    padding: 0;  
}


/*Header*/
.cabeçalho {
    background-color: #800000;
    height: 40px; 
}

/*Grid*/
.grid {
    display: grid;
}

.logo {
    grid-area: logo;
}

.menu {
    grid-area: menu;
}

.login {
    grid-area: login;
}

.grid-template {
    grid-template-areas: 
    "logo menu menu menu login";
}

/*Estilo geral*/
.grid {
    height: 200px;
}

/*Corpo*/
body {
    background-color: white;
}

#Direita {
    background-color: burlywood;
    height: 600px;
    float: right;
    width: 40%;

}

#Esquerda {
    background-color: #800000;
    height: 600px;
    float: left;
    width: 60%;

}

#Rodapé {
    background-color: black;
    height: 200px;
    clear: both;
}

/*Escritos*/
#Título {
    color:black;
    font: normal 60px Arial;
    text-align: center;
}

p {
    color: black;
    font: normal 20px Arial;
}

/*Links*/
a:link{
    color: black;
    font: normal 20px Arial;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #800000;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

#link2 {
    position: relative;
    top: 80px;
}

/*Imagens*/
#IconeMenu {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    position: relative;
    top: 20px;
}

#IconeInsta {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 1200px;
}

/*Inputs*/
#Buscar {
    height: 40px;
    width: 500px;
}

